# Flutter/Dart related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos/
.melos_tool/
generated_plugin_registrant.dart

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
macos/
macos/Flutter/ephemeral/
*.xcworkspace/
*.xcodeproj/
*.xcuserdata/
*.xcassets/
Pods/
DerivedData/
*.ipa
macos/Pods/
macos/.symlinks/
macos/Runner/GeneratedPluginRegistrant.swift

# Windows
windows/
windows/flutter/ephemeral/
windows/generated_plugin_registrant.cc
windows/CMakeCache.txt
windows/CMakeFiles/
*.exe
*.pdb
*.dll
*.ilk
*.obj
*.lib
*.exp

# Linux
linux/
linux/flutter/ephemeral/
linux/generated_plugin_registrant.cc
linux/CMakeCache.txt
linux/CMakeFiles/
*.so
*.o
*.a

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.cxx/
android/.idea/
android/capture/

# iOS
ios/
ios/Pods/
ios/.symlinks/
ios/Flutter/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ServiceDefinitions.json
ios/Flutter/engine/
ios/Flutter/*.xcworkspace/
ios/Flutter/*.xcodeproj/
ios/Flutter/*.xcuserdata/
ios/Flutter/*.xcassets/
ios/Flutter/*.ipa
ios/Runner/GeneratedPluginRegistrant.swift

# Web
web/.dart_tool/
web/generated_plugin_registrant.dart
web/flutter/

# Flutter & Dart
.build/
packages/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Generated translations
intl_translation_*.json
